extends layout

block title
    | 出错啦

block content
    p 您要查看的这个页面并不存在哦。

    if get_data(return_count=True, keywords=request.path[1:])
        p 您可能感兴趣的文章：
        ul
            for post in get_data(keywords=request.path[1:], limit=5)
                li
                    a(href=post.url)= post.title

    p
        | 您可以在下面搜索一下，也可以
        a(href="javascript:history.back();") 点此返回上一页
        | 。
