extends layout

block content
    entries = posts.group('-date:year')
    for posts_in_year in entries
        h2(style="text-align:center")= posts_in_year[0]

        ul#posts-list
            for post in posts_in_year[1]
                li
                    a(href=post.url)
                        span.date= post.date.format('%Y-%m-%d')
                        post.title