body {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    color: #333;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid black;
    transition-duration: .15s;
}
a:hover {
    color: white;
    background-color: black;
    border-radius: 3px;
}
b, strong, em {
    display: inline-block;
    padding: 0 2px;
    color: black;
}
blockquote {
    margin: 2em 0;
    padding: 2em 2.5em;;
    background-color: #DFDFDF;
}
button, input[type=submit] {
    box-sizing: border-box;
    width: auto;
    height: 1.6em;
    padding: 0 13px;
    text-align: center;
    border: 2px solid black;
    border-radius: 7px;
}
button:hover, input[type=submit] {
    background-color: black;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    color: black;
}
h1 {
    font-size: 5em; /* 逼使用者不在文章中加一级标题——这是一个好习惯 */
}
h1#post-title {
    font-size: 2.2em;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font=size: 1.6em;
}
h4 {
    font-size: 1.3em;
}
h5, h6 {
    font-size: 1em;
}
hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: none;
    color: #BBB;
    text-align: center;
}
hr:before {
    content: "- - -";
}
img {
    display: block;
    width: auto;
    margin: 1.2em auto;
}
input[type=submit] {
    min-width: 8%;
}
ul li {
    list-style-type: square;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
ol, ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 0 0 40px;
}
ul ul, ul ol, ol ul, ol ol {
    margin: 0;
}
p {
    margin: 0.4em 0;
}
code {
    display: inline-block;
    border: 1px #DDD solid;
    padding: 0 4px;
    border-radius: 7px;
    color: #A60;
    text-shadow: 1px 1px 1px #CA7;
    position: relative;
    top: -1px;
}
table, tr, th, td {
    border: none;
}
table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
tr {
    border-bottom: 1px solid black;
}
table tr:last-child {
    border-bottom: none !important;
}
tr > th:last-child, tr > td:last-child {
    border-right: none !important;
}
th {
    font-weight: bold;
    color: black;
}
th, td {
    border-right: 1px solid gray;
}
