extends layout

block content
    if request.args.s
        if posts
            p 以下是搜索结果：
        else
            p 没有找到与指定内容相关的文章 :(

    ul#posts-list
        for post in posts
            li
                a(href=post.url)
                    span.date= post.date.format('%Y-%m-%d')
                    post.title