{% from "cache_mixins.jade" import cache_header, cache_footer %}

head
    title
        block title
            {{ site.configs.title or "主页" }}

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if site.configs.author
        meta(name="author", content=site.config.author)

    load("/t/elements.css /t/style.css")

    block head

body
    div#header
        +cache_header()

    article
        block content

    div#footer
        +cache_footer()