#header, article, #footer {
    width: 90%;
    max-width: 780px;
    margin: 2.5em auto;
    text-align: center;
}
#header {
    margin: 5em auto 4em;
}
#header p {
    cursor: default;
}
#header a {
    border: none;
}
article {
    text-align: left;
    margin: 0 auto;
}
article > * {
    line-height: 1.6em;
}
#site-title {
    font-size: 1.5em;
}
ul#posts-list > li {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
ul#posts-list > li > a {
    border: none;
}
h1#post-title {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.5em;
}
hr#post-begin-hr:before {
    content: "*";
}
#post-informations {
    color: #333;
    font-style: italic;
    font-size: 0.7em;
    margin-top: 1em;
}
.date {
    margin-right: 3px;
    font-style: italic;
}
.date:after {
    content: " ";
}
#eof {
    text-align: center;
    font-style: italic;
    line-height: 5em;
    color: gray;
}
#footer {
    margin-top: 1.5em;
    margin-bottom: 1.2em;
}
#footer p {
    font-size: 0.7em;
    color: gray;
    line-height: 1.5em;
    text-shadow: 0 0 15px #BBB;
}
#footer a {
    border: none;
}

@media (max-width: 820px) {
    body {
        font-size: 1.15em;
    }
}
@media (max-width: 640px) {
    body {
        font-size: 1.05em;
    }
}