#header, article, #footer {
    width: 90%;
    max-width: 860px;
    margin: 2.5em auto;
    text-align: center;
}
#header {
    margin: 5em auto 4em;
}
#header p {
    cursor: default;
}
#header a {
    border: none;
}
article {
    text-align: left;
    margin: 0 auto;
}
article > * {
    line-height: 2em;
}
#site-title {
    font-size: 1.5em;
}
ul#posts-list > li {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
ul#posts-list > li > a {
    border: none;
}
h1#post-title {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.6em;
}
hr#post-begin-hr:before {
    content: "*";
}
#post-informations {
    color: #333;
    font-style: italic;
    font-size: 0.7em;
    margin-top: 1em;
}
.date {
    margin-right: 3px;
    font-style: italic;
}
.date:after {
    content: " ";
}
#eof {
    text-align: center;
    font-style: italic;
    font-family: monospace;
    line-height: 5em;
    color: gray;
}
#footer {
    margin-top: 1.5em;
    margin-bottom: 1.2em;
}
#footer p {
    font-size: 0.7em;
    color: gray;
    line-height: 1.5em;
    text-shadow: 0 0 12px gray;
}
#footer a {
    border: none;
}

@media (max-width: 920px) {
    body { font-size: 1.13em !important; }
}
@media (max-width: 800px) {
    body { font-size: 1.09em !important; }
}
@media (max-width: 700px) {
    body { font-size: 1.05em !important; }
    article > * { line-height: 1.91em !important; }
}
@media (max-width: 620px) {
    body { font-size: 1em !important; }
    article > * { line-height: 1.8em !important; }
}